.contact {
    margin-top: 120px;
    padding: 20px;
    border-radius: 5%;
}

button {
    height: 60px;
    width: 280px;
    font-family: inherit;
    font-size: 130%;
    border: 2px solid #0000A4;
    background: rgba(0, 0, 255, 0.1);
    color: white;
    margin: 0 auto 40px auto;
    cursor: pointer;
}

button:hover {
    background: rgba(0, 0, 255, 0.5);
}

label {
    font-size: 120%;
}

input,
textarea {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 20px auto;
    font-family: inherit;
    font-size: 60%;
    background: rgba(0, 0, 255, 0.1);
    border: 2px solid #0000A4;
    color: white;
    transition: .3s;
}

input {
    width: 280px;
    height: 30px;
}

textarea {
    width: 400px;
    height: 110px;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 5px 5px white;
}

.danger {
    box-shadow: 0 0 5px 5px darkred;
}

@media (max-width: 850px) {
    .contact {
        margin-top: 60px;
    }
}

@media (max-width: 420px) {
    textarea {
        width: 320px;
    }
}